.login{
    margin: 200px auto ;
    background-color: white;
    border-radius: 25px;
    width: 600px;
    height: 400px;
}

.form_style{
    width: 300px;
    margin: 0px auto;
    padding-top: 30px;

}
.t{
    font-size: 35px;
    font-weight: 700;
    margin: 30px auto;
    width: 250px;
    align-content: center;
}
.fontsize{
    width: 300px;
}
.errors{
    color: red;
    margin-top: 10px;
}