body{
    background-image: url("../image/bg.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}
.circle{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: inline-block;
    background: #ff4053;
    vertical-align: top;
}
.item{
    display: block;
    color: #FFFFFF;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    text-align: center
}